@model WebApplication111.Models.stan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Da li zelite da ovo izbrisete?</h3>
<div>
    <h4>Stan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.broj_stana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_stana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlasnik_stana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlasnik_stana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kupatilo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kupatilo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kvadratura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kvadratura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broj_soba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_soba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balkon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balkon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agencija.ime_agencije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencija.ime_agencije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgrada.adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgrada.adresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
