@model IEnumerable<WebApplication111.Models.kuca>

@{
    ViewBag.Title = "KUCE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KUCE</h2>

<p>
    @Html.ActionLink("Dodaj novu kucu", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.zemljiste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kvadratura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bazen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agencija.ime_agencije)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.zemljiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kvadratura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bazen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agencija.ime_agencije)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.ID_kuca }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.ID_kuca }) |
                @Html.ActionLink("Obrisi", "Delete", new { id = item.ID_kuca })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">




    $('document').ready(function () {


        $('tr:even').css('background-color', '#d5e1df');


    });
</script>


<style>


    @@import url('../../Content/Site.css');
</style>
